<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Umi-interesting-plugin-collection</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
</head>
<body>
<div id="root"></div>
</body>
<script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js "></script>
</html>
